<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1050578403841-sok6q1giti1efts8v4k1ola6kc15e9qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050578403841-sok6q1giti1efts8v4k1ola6kc15e9qj</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUI_OOd5WGJyZDQ4HIN_M-qqUfriVgNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1050578403841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Helping-Hand.HHR</string>
	<key>PROJECT_ID</key>
	<string>skillseed-66427</string>
	<key>STORAGE_BUCKET</key>
	<string>skillseed-66427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050578403841:ios:27e9e92dc1a7f62c</string>
	<key>DATABASE_URL</key>
	<string>https://skillseed-66427.firebaseio.com</string>
</dict>
</plist>